In [1]:
import pandas as pd

In [36]:
dpath = "./AMAZON_FASHION_5.json"
df = pd.read_json(dpath, lines=True)
df['reviewText'] = df['reviewText'].fillna('')

In [52]:
df_review = df[['asin', 'reviewText']]
df_review = df_review.iloc[df_review.astype(str).drop_duplicates().index]
df_review.groupby(by='asin')['reviewText'].count().reset_index(name='count').sort_values(by='count', ascending=False)

          asin  count
17  B009MA34NY    369
15  B005AGO4LU    368
26  B010RRWKT4    368
16  B0092UF54A    368
27  B014IBJKNO    367
6   B0014F7B98    366
14  B0058YEJ5K    359
11  B001IKJOLW    357
4   B000YFSR5G     24
3   B000YFSR4W     18
24  B00RLSCLJM      9
18  B00G8Q7JZ4      8
1   B000KPIHQ4      7
2   B000V0IBDM      7
12  B001LNSY2Q      7
0   B000K2PJ4K      5
10  B0017LGD34      5
9   B0017LD0BM      5
20  B00I0VHS10      4
7   B0014F8TIU      4
23  B00ND9047Y      2
8   B0014HA6VG      2
5   B0012DR1LU      2
13  B003M6060S      1
19  B00GKF5BAS      1
21  B00LKWYX2I      1
22  B00MLYE8PQ      1
25  B00ZUA6AJK      1
28  B01595OS62      1
29  B016XAJLVO      1
30  B01H7KY678      1

In [66]:
# pick the product with the highest number of unique reviews
asin_selected = 'B009MA34NY'
df_review_selected = df_review[df_review['asin'] == asin_selected].reset_index(drop=True)
df_review_selected

           asin                                         reviewText
0    B009MA34NY  I always get a half size up in my tennis shoes...
1    B009MA34NY  Put them on and walked 3 hours with no problem...
2    B009MA34NY                                          excelente
3    B009MA34NY  The shoes fit well in the arch area. They are ...
4    B009MA34NY  Tried them on in a store before buying online ...
..          ...                                                ...
364  B009MA34NY  Favorite Nike shoe ever! The flex sole is exce...
365  B009MA34NY       I wear these everyday to work, the gym, etc.
366  B009MA34NY    Love these shoes! Great fit, very light weight.
367  B009MA34NY  Super comfortable and fit my small feet perfec...
368  B009MA34NY                                  Love these shoes!

[369 rows x 2 columns]

In [87]:
df_review_selected.to_json('./sample_data.json', lines=True, orient='records')

In [88]:
pd.read_json("./sample_data.json", lines=True)

           asin                                         reviewText
0    B009MA34NY  I always get a half size up in my tennis shoes...
1    B009MA34NY  Put them on and walked 3 hours with no problem...
2    B009MA34NY                                          excelente
3    B009MA34NY  The shoes fit well in the arch area. They are ...
4    B009MA34NY  Tried them on in a store before buying online ...
..          ...                                                ...
364  B009MA34NY  Favorite Nike shoe ever! The flex sole is exce...
365  B009MA34NY       I wear these everyday to work, the gym, etc.
366  B009MA34NY    Love these shoes! Great fit, very light weight.
367  B009MA34NY  Super comfortable and fit my small feet perfec...
368  B009MA34NY                                  Love these shoes!

[369 rows x 2 columns]